Удаление (первый вариант):

function deleteTask(task) {
	let result = list.filter(function (item, index) {
		if (item.task === task) {
			list.splice(index, 1);
		};
	});
	return result;
};
console.log(deleteTask("wake up"));
console.log(list);

Удаление (второй вариант):
function deleteTask(task) {
	let taskIndex = list.findIndex(item => item.task === task);
	list.splice(taskIndex, 1);
	list.forEach(function (item, index) {
		return item.id = index + 1;
	});
};
deleteTask("wake up");
console.log(list);

Добавление (изначальный вариант):
function addTask(taskValue, statusValue, priorityValue, positionValue) {
	list.splice(positionValue, 0, { id: list.length + 1, task: taskValue, status: statusValue, priority: priorityValue, });
	list.forEach(function (item, index) {
		return item.id = index + 1;
	});
};
addTask("go to sleep", TODO, HIGH_PRIORITY, 6);
console.log(list);